{{- range .Client.Sources }}
server {{ . }} iburst
{{- end }}
{{- if .Client.Fallback }}
server {{ .Client.Fallback }} iburst
{{- end }}

driftfile /var/lib/chrony/drift
makestep 1.0 3
{{- if .RTCSync }}
rtcsync
{{- end }}
logdir /var/log/chrony

{{- if .Server.Enabled }}
{{- if .Server.ListenAddress }}
bindaddress {{ .Server.ListenAddress }}
{{- end }}
{{- if .Server.ListenPort }}
port {{ .Server.ListenPort }}
{{- end }}
{{- range .AllowSubnets }}
allow {{ . }}
{{- end }}
local stratum 10
{{- end }}
